doctype
html
  head
    link(rel="stylesheet" href="/galaxy/galaxy.css")
    link(rel="stylesheet", href="http://volley.works/css/all.css?v=1423945846")

    script(src="//code.jquery.com/jquery.min.js")
    script(src="app.js")
  body
    != yield