/*
    -------
    MAIN
    This is the SASS that overrides Galaxy.
    _______
*/

.search {
	width: 100vw;
	height: 100vh;
	
}
 
#modal_wrapper {
	position:absolute;
	bottom:0;
	height:80px;
	width: 100%;
	text-align:center;
}

#show_modal {
position: relative;
top: 50%;
transform: translateY(-50%);
}

.circle {
	width:60px;
	height:60px;
	border-radius:30px;
	font-size:20px;
	color:#fff;
	text-align:center;
	background:#000;
}

#somedialog {
	z-index:1;
}