/*
    -------
    MAIN
    This is the SASS that overrides Galaxy.
    _______
*/

body {
	$sans-serif: 'Avenir', 'Helvetica', 'Arial', sans-serif;
}

body.home div.arrow:hover .content h3 {
	color: #777;
}

h3 {
	font-weight: normal !important;
}

.search {
	width: 100vw;
	height: 100vh;

}

.uk-notify-message {
	background: lighten($primary-color, 10);
	border: none;
	color: #fff;
}

.logo {
	font-size: 2em;
}

body.home div.arrow.next:hover {
	background-color: none;
}

body.home div.arrow.previous:hover {
	background-color: none;
}

.underlay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	z-index: 1;
	-webkit-transition: all 180ms ease;
	-moz-transition: all 180ms ease;
	-o-transition: all 180ms ease;
	transition: all 180ms ease;
}
 
#modal_wrapper {
	position: absolute;
	bottom: 0;
	height: 174px;
	width: 100%;
	text-align:center;
}

#show_modal {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

#somedialog {
	z-index:1;
}

#countdown {
	display:none;
	font-size: 1.7em;
}

.fa-video-camera:before {
	position: absolute;
	left: -10px;
}

button {
	border: 0;
}
.buttons {
	background: $success-color;
}

body.home .card {
	height: 450px;
}

.dialog__content {
	border-radius: 6px;
}

#record_video {
	border: #ddd 3px dotted;
}
#getDiscovered {
	font-weight: bold;
}
.dialog--open .dialog__overlay {
	cursor: pointer;
}

