
	// -------
	// SETTINGS
	// _______
	
// Here you can customize Galaxy to your needs. Uncomment a value to change its setting.

$nav-color: #000;
$font-size: 18px;
$sans-serif: "Gotham SSm A", "Gotham SSm B", "Gotham", "Avenir", sans-serif;