header
	a(href="/")
		img(src="/media/logo-dark.png" alt="Galaxy" width="75")
	nav
		ul
			li
				a(href="/docs/" class=current.source=='/docs/index'?'active':'') Getting Started
			li
				a(href="/components" class=current.source == 'components' ? 'active' : '') Components
			li
				a(href="https://github.com/Magmoz/galaxy" target="_blank") Github Repo
